<div class="row">
    <!-- LEFT NAVBAR -->
    <%- include left_nav %>

    <!-- col 2 -->
    <div class="col-9">
        <main role="main" class="container">
            <h1>Profile index...</h1>
        </main>
    </div>
    <!-- end col-md-10 -->

</div>
<!-- end row -->