<nav class="col-3 bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <!-- PROFILE -->
            <li class="nav-item">
                    <a class="nav-link active" href="/profile">
                        Profile
                    </a>
            </li>
            <!-- ORDERS -->
            <li class="nav-item">
                <a class="nav-link active" href="/profile/orders">
                    My Orders 
                </a>
            </li>
            <!-- RESET PASSWORD-->
            <li class="nav-item">
                <a class="nav-link" href="/profile/update-user-settings">
                    Update User Settings
                </a>
            </li>
        </ul>
    </div>
</nav>