<h1 class="h3 mb-3 font-weight-normal">Set your new Password</h1>

<form action="/new-password" method="POST" class="form-signin">
    <%- CSRF %>
    <input type="hidden" name="user_id" value="<%= user_id %>">
    <input type="hidden" name="password_token" value="<%= passwordToken %>">
    <!-- PASSWORD -->
    <div class="form-group my-3">
        <label for="inputPassword" class="sr-only">Password: </label>
        <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
    </div>
    <!-- CONFIRM PASSWORD -->
    <div class="form-group my-3">
        <label for="inputPassword" class="sr-only">Confirm Password: </label>
        <input type="password" id="inputPassword" class="form-control" name="confirm_password" placeholder="Password Confirmation" required>
    </div>

    <!-- SUBMIT BUTTON -->
    <div class="form-group my-3">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Update Password</button>
    </div>
    
</form>

<a href="/login">Already a member? login</a>
